{% extends "base.html" %}
{% load staticfiles i18n %}


{% block css %}
    {{ block.super }}
     <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
     <!-- <link rel="stylesheet" href="https://unpkg.com/react-table/react-table.css"> -->
</link>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        window.content = {{ content|safe }};
        window.links = {{ links|safe }};
    </script>
{% endblock %}

{% block content %}
    {% block prereact_content %}
        {% if image %}
            <div class="image-container" style="">
                <img style="margin-top: -550px;min-width: 100%;" src="{{ image.image.url }}" alt="Kids">
                <div class="after">
                <div class="hero-text">{{ image.overlay_text }}</div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block react_content %}
        <div class="container">
            <div class="col-12">
                {% if request.path != '/' %}
                    <div><a href="/"><i class='fa fa-home'></i></a> > {{ page_name }}</div>
                {% endif %}
                <div style="width: 100%" id="root"></div>
                {% if request.path != '/' %}
                <div>
                    <ul class="link-list">
                    {% for link in links %}
                        <li class="link-list__item link-list__item--button"><a class="link-list__link light-grey--text" href={{ link.link }}>{{ link.text }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- /.container -->
    {% endblock %}
{% endblock %}

{% block extra %}
    <div class="container">
        <div class="col-12">
            {% block extra_content %}{% endblock %}
        </div>
        <!-- /.col-12 -->
    </div>
    <!-- /.container -->
{% endblock extra %}
